.side-nav {
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;
  /* transition: transform 0.3s ease;
    will-change: transform; */
  background-color: #ff6f61;
  color: #264653;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0;
  width: 100%;
}

li {
  font-size: 36px;
  padding: 10px 0px;
  text-align: left;
  user-select: none;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

li.option:hover {
  background-color: #4cafab;
  transition: background-color 0.2s;
  cursor: pointer;
}

li.option:active {
  background-color: #5d9f9b;
  transition: background-color 0.2s;
  outline: none;
}

.toggle-show:active {
  font-size: 75px;
}
