* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
    display: flex;
    /* grid-template-columns: max-content 1fr; */
    height: 100vh;
    width: 100%;
    /* margin-left: 15vw; This margin shifts it to the right of the side-nav */
}

.navbar {
  width: 10vw;
  height: 100%;
  align-self: flex-start;
  min-width: fit-content;
  max-width: 200px;
  padding: 0;
  margin: 0;

}

.content {
  height: 100%;
  margin: 0;
  padding: 0;
}