* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px; 
}
.navbar {
  grid-area: 1 / 1 / -1 / 2;
}

.content {
  grid-area: 1 / 2 / -1 / -1;
}